::-webkit-scrollbar {
    width: 7px;
  }
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #000;
}
.wrapper {
    position: relative;
    width: 100%;
}
.blind {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
}
.group-title {
    .desc-box {
        display: flex;
        justify-content: center;
        overflow: hidden;
    }
    .desc {
        font-size: 1.3vw;
        letter-spacing: 0.1vw;
        color: rgba(237,220,212,.89);
    }
    .title {
        display: flex;
        justify-content: center;
        gap: 1vw;
        font-family: $font-en;
        font-size: 6vw;
        line-height: 1;
        font-weight: 200;
        overflow: hidden;
        @include mobile {
            font-size: 7vw;
        }
    }
}