$font-kr: 'pretendard', sans-serif;
$font-en: 'voyage', serif;
$color-blue:#35141B;
$color-blue1:#5E071A;
$color-blue2:#750E25;
$color-blue3:#901B2B;
$color-blue4:#991821;
$color-blue5:#AD272E;

/*반응형 화면 크기*/
$mobile: 767px; //320
$tablet: 1023px; // 768
$desktop: 1200px; //1024