$font-kr: 'pretendard', sans-serif;
$font-en: 'voyage', serif;
$color-red01:#35141B;
$color-red02:#5E071A;
$color-red03:#750E25;
$color-red04:#901B2B;
$color-red05:#991821;
$color-red06:#AD272E;

$mobile: 767px; 
$tablet: 1023px; 
$desktop: 1200px; 